[submodule "XiangShan"]
	path = XiangShan
	url = https://github.com/GaryCAICHI/XiangShan.git
	branch = kunminghu-v2-xvbbp-test
[submodule "NEMU"]
	path = NEMU
	url = https://github.com/GaryCAICHI/NEMU.git
	branch = kunminghu-v2-xvbbp-test
[submodule "nexus-am"]
	path = nexus-am
	url = https://github.com/GaryCAICHI/nexus-am.git
	branch = kunminghu-v2-xvbbp-test
[submodule "NutShell"]
	path = NutShell
	url = https://github.com/OSCPU/NutShell
	branch = difftest
[submodule "DRAMsim3"]
	path = DRAMsim3
	url = https://github.com/OpenXiangShan/DRAMsim3.git
